{% extends 'base.html' %}

{% load embed_video_tags %}
{% load static %}
{% load blog_extras %}

{% block title %}
    Add article
    {{ block.super }}
{% endblock %}

{% block body %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/adapters/jquery.js"></script>

    <div class="container-fluid" style="margin-top:100px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="pb-4">Add article</h1>
                <hr>

                <form action="" method="post" class="pb-5">
                    {% csrf_token %}
                    <p>
                        Title : <br>
                        {{ article_form.title|addclass:'form-control' }}
                    </p>
                    <p>
                        Hang : <br>
                        {{ article_form.hang|addclass:'form-control' }}
                    </p>
                    <p>
                        Category : <br>
                        {{ article_form.category|addclass:'form-control' }}
                    </p>
                    <p>
                        Time : <br>
                        {{ article_form.time|addclass:'form-control' }}
                    </p>
                    <p>
                        Add to article preview : <br>
                        {{ article_form.decision|addclass:'form-control' }}
                    </p>
                    <p id="id_text_block">
                        Text : <br>
                        {{ article_form.text|addclass:'form-control' }}
                    </p>
                    <p>
                        Youtube link : <br>
                        {{ article_form.youtube|addclass:'form-control' }}
                    </p>
                    {{ component_form.as_p }}
                    <p>
                        The component have image : <br>
                        {{ article_form.haveImage|addclass:'form-control' }}
                    </p>

                    {{ formset.management_form }}

                    {% if error > 0 %}
                        <div style="color:red;" class="bold">
                            Fact cannot be empty
                        </div>
                    {% endif %}

                    <div id="content">
                    {% for form in formset %}
                        <div>
                            <table>
                                <p>
                                    Text :
                                    <input name="form-0-text" value="" id="id_form-0-text" class="form-control" maxlength="300" type="text" required>
                                </p>
                            </table>
                        </div>
                    {% endfor %}
                    </div>

                    <a id="addComponent" style="color:white" class="btn btn-info">Add fact</a>
                    <a id="removeComponent" style="color:white" class="btn btn-danger">Remove fact</a>
                    <br><br>

                     <input type="submit" value="Create" class="btn btn-primary" style="float:right" />
                </form>

            </div>
        </div>
    </div>


<style>
    #id_text_block {
        display:none;
    }
</style>

<script>

    $(document).ready(function() {

var length = $("div#content div").length;
            $('#id_form-TOTAL_FORMS').val(length);


            $("#addComponent").click(function() {
                addOne('div#content div:last', 'form', 6);
                $("div#content input:last").focus();
            });

            $("#removeComponent").click(function() {
                removeOne('div#content div:last', 'form');
                $("div#content input:last").focus();
            });

            function addOne(selector, type, limit) {
                var newElement = $(selector).clone(true);
                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                console.log(total);
                console.log(limit);
                if(total < limit) {
                    newElement.find(':input').each(function() {
                        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                        $(this).attr("required", true);
                    });
                    newElement.find('label').each(function() {
                        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                        $(this).attr('for', newFor);
                    });
                    total++;
                    $('#id_' + type + '-TOTAL_FORMS').val(total);
                    $(selector).after(newElement);
                }
            }

            function removeOne(selector, type) {
                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                if(total > 1) {
                    $(selector).remove();
                    $('#id_' + type + '-TOTAL_FORMS').val(total - 1);
                }
            }


        $('textarea#id_component').ckeditor();

        $("#id_decision").change(function() {
            var decision = $(this).val();
            if(decision == 0) {
                $("#id_text_block").hide();
            } else if(decision == 1) {
                $("#id_text_block").show();
            }
        });
    });
</script>

{% endblock %}

{% block info %}
{% endblock %}