{% extends 'base.html' %}

{% load embed_video_tags %}
{% load tz %}
{% load static %}

{% block title %}
    {{ article.title }}
    {{ block.super }}
{% endblock %}

{% block body %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/adapters/jquery.js"></script>

    <style>
        #fact, #articleTrue, #articleLike, #commentaries {
            visibility: hidden;
        }
    </style>

    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                var posDocTop = $(window).scrollTop() + $(window).height();

                if($("#fact").length !== 0) {
                    var posFactTop = $("#fact").position().top;
                    if(posDocTop >= posFactTop + 50) {
                        $("#fact").addClass("animated bounceInUp");
                        $("#fact").css('visibility','visible');
                    }
                }

                if($("#articleTrue").length !== 0) {
                    var posArticleTrueTop = $("#articleTrue").position().top;
                    if(posDocTop >= posArticleTrueTop + 50) {
                        $("#articleTrue").addClass("animated bounceInUp");
                        $("#articleTrue").css('visibility','visible');
                    }
                }

                if($("#articleLike").length !== 0) {
                    var posArticleLikeTop = $("#articleLike").position().top;
                    if(posDocTop >= posArticleLikeTop + 50) {
                        $("#articleLike").addClass("animated bounceInUp");
                        $("#articleLike").css('visibility','visible');
                    }
                }

                if($("#commentaries").length !== 0) {
                    var posComTop = $("#commentaries").position().top;
                    if(posDocTop >= posComTop + 50) {
                        $("#commentaries").addClass("animated bounceInUp");
                        $("#commentaries").css('visibility','visible');
                    }
                }

            });
        });
    </script>

        <div id="presentation-article" class="row" style="padding-top:120px; background-image: linear-gradient(to right top, #003078, #16418c, #2754a1, #3667b6, #447acb);">
            <div class="block-title">
                <p class="pb-5 fs-20">
                    <a href="{% url 'article_category' %}?category={{article.category}}" class="no-decoration" style="color:white;">
                            {{ article.category }}<br>
                    <i class="fas fa-box-open"></i>
                    </a>
                </p>
                <span class="fs-40">{{ article.title }}</span>
                <br><br>
                <div class="pt-3 separation">
                </div>
                <p class="pt-5 pr-4 fs-20 inline">
                    <i class="fas fa-calendar-alt"></i><br>
                    {{ article.date|date:"d/m/Y"|lower }}
                </p>
                <p class="pt-5 pr-3 fs-20 inline">
                    <i class="far fa-clock"></i><br>
                    {{ article.time }} min
                </p>
                <p class="pt-5 pl-3 fs-20 inline">
                    <i class="far fa-user"></i><br>
                    {{ article.author }}
                </p>
            </div>
        </div>

        <div id="presentation-hang" style="margin-top: -150px;background-color: white;">
                <a href="{% url 'article_list' %}" class="little-grey">
                    <div class="center inline pr-4">
                        <i class="fas fa-arrow-left fs-40"></i>
                        <br><span class="bold">BACK</span>
                    </div>
                </a>

                {% if article.status == 'publish' %}
                    <a href="http://www.google.com/search?q={{ article.title }}" target="_blank" class="little-grey">
                        <div class="center inline pr-4">
                            <i class="fab fa-google fs-40"></i>
                            <br><span class="bold">SEARCH</span>
                        </div>
                    </a>
                {% endif %}

                {% if user.is_authenticated and article.status != 'copy' %}
                    {% if article.author != user %}
                        <!-- READ -->
                        {% if articleRead|length == 0 %}
                            <a href="{% url 'article_read' article.id %}" class="little-grey">
                                <div class="center inline pr-4">
                                    <i class="fas fa-clock fs-40"></i>
                                    <br><span class="bold">READ</span>
                                </div>
                            </a>
                        {% endif %}
                        <!-- FOLLOW -->
                        {% if follow|length == 0 %}
                            <a href="{% url 'follow' article.author.id %}" class="little-grey">
                                <div class="center inline pr-4">
                                    <i class="fas fa-users-cog fs-40"></i>
                                    <br><span class="bold">FOLLOW</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}

                <div style="float:right">
                    <i class="fs-20 green-valid fas fa-check-circle"></i>
                    <span class="bold">{{ article.interest }}</span>
                </div>
                <div style="float:right" class="pr-3">
                    <i class="fs-20 fas fa-heart" style="color: #e63f3f;"></i>
                    <span class="bold">{{ articleAllLike|length }}</span>
                </div>
                <div style="float:right" class="pr-3">
                    <i class="fs-20 fas fa-comments" style="color:grey;"></i>
                    <span class="bold">{{ commentaries|length }}</span>
                </div>

            <input type="hidden" id="data" value="{{ x }}">

            {% if x == 0 and up == 0 and down == 0 %}
                <div class="progress mt-5" style="height:30px;background:#fe002cb3;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;background:#7ad36f;">
                    </div>
                </div>
            {% else %}
                <div class="progress mt-5" style="height:30px;background:#fe002cb3;">
                    <div class="progress-bar bar-animated" role="progressbar" aria-valuenow="{{ up }}" aria-valuemin="0" aria-valuemax="{{ max }}" style="background:#7ad36f; width: {{ x }}%;">
                    </div>
                </div>
            {% endif %}

            <div>
                <span>{{ up }}</span>
                <span style="float:right">{{ down }}</span>
            </div>

        </div>
</div>

        <div class="row mt-3" style="width:70%; margin: 0 auto;background-color: white;padding: 20px;">
        <p>
            <div style="width: 100%; padding-bottom:35px;">
                <span style="font-size: 30px;font-weight:bold;">{{ article.hang }}</span>
           </div>
            {% if article.youtube != None %}
                <div class="mb-4">
                    {% video article.youtube %}
                </div>
            {% endif %}

            <div style="width: 100%;">
                {{ component|safe }}
            </div>
        </p>

        </div>
        </div>

  {% if user.is_authenticated and article.status != 'copy' %}
        {% if article.author == user %}
            {% if article.status == 'ready' %}
                <div style="position: fixed;top:100px; right: 25px;">
                    <a href="{% url 'article_edit' article.id %}">
                        <span class="circle mb-3" style="background-color: #d22f4c;display:block;">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                    </a>
                    <a href="{% url 'article_publish' article.id %}">
                        <span class="circle mb-3" style="background-color: #d22f4c;display:block;">
                            <i class="fas fa-check"></i>
                        </span>
                    </a>
                    <a href="{% url 'choose_corrector' article.id %}">
                        <span class="circle mb-3" style="background-color: #d22f4c; display:block;">
                            <i class="fas fa-hands-helping"></i>
                        </span>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}


        {% if user.is_authenticated and article.status != 'copy' %}
            {% if article.author != user %}

                {% if articleLike|length == 0 or interrest|length == 0 %}
            <div id="articleLike" class="row mt-3" style="width:70%; margin: 0 auto;background-color: white; padding: 20px;">
                <div style="width: 100%;">
                            {% if articleLike|length == 0 %}
                                <a href="{% url 'article_like' article.id %}" class="little-grey">
                                    <div class="center inline pr-4">
                                        <i class="fas fa-heart fs-40"></i>
                                        <br><span class="bold">LIKE</span>
                                    </div>
                                </a>
                            {% endif %}

                            {% if interrest|length == 0 %}
                                <a href="{% url 'article_interrest' article.id %}" class="little-grey">
                                    <div class="center inline pr-4">
                                        <i class="fas fa-thumbs-up fs-40"></i>
                                        <br><span class="bold">INTEREST</span>
                                    </div>
                                </a>
                            {% endif %}
                    </div>
            </div>
                {% endif %}
            {% endif %}
        {% endif %}


{% if user.is_authenticated and article.status == 'publish' %}
    {% if article.author != user %}
        {% if haveImageArticle|length == 0 %}
            <div id="articleTrue" class="row mt-3" style="width:70%; margin: 0 auto;background-color: white;padding: 20px;">
                <div style="width: 100%;">
                    <div class="inline">
                        <span>
                            <div class="center inline pr-4">
                                <p>
                                    The images in this article are true ?
                                </p>
                            </div>
                        </span>
                    </div>
                    <div class="inline right">
                        <a href="{% url 'article_image_refuse' article.id %}" class="little-grey right inline" style="float:right;">
                            <div class="center inline pr-4">
                                <i class="fas fa-times fs-40"></i>
                                <br><span class="bold">REFUSE</span>
                            </div>
                        </a>
                        <a href="{% url 'article_image_accept' article.id %}" class="little-grey inline" style="float:right;">
                            <div class="center inline pr-4">
                                <i class="fas fa-check fs-40"></i>
                                <br><span class="bold">ACCEPT</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}

            <div id="fact" class="row mt-3" style="background-color: white;width:70%; margin: 0 auto;">
                <div style="width: 100%;">
                    {% for fact in facts %}
                        <p class="pt-2">
                            <div class="inline bold pl-3">
                                <span class="fact-circle mb-3" style="background-color: #d22f4c;">
                                    {{ forloop.counter }}
                                </span>
                                <span class="pl-3">
                                    <a target="_blank" style="color:black;" href="{% url 'article_select_fact' article.id fact.id %}">
                                        {{ fact.text }}
                                    </a>
                                </span>
                                <p class="ml-3 mt-2 fs-20">
                                    <span class="">
                                        <span style="color: grey;">{{ fact.goodPoint }}</span>
                                        <i class="fas green-valid fa-thumbs-up"></i>
                                    </span>
                                    <span class="pl-3">
                                        <span style="color: grey;">{{ fact.badPoint }}</span>
                                        <i class="fas fa-thumbs-down" style="color: #e63f3f;"></i>
                                    </span>
                                </p>

                            </div>
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div id="commentaries" class="row mt-3 mb-5" style="background-color: white;width:70%; margin: 0 auto; padding: 20px; ">
                <div style="width: 100%;">
                                    <div>
                    {% for comment in commentaries %}
                        <div class="mt-3 block-commentary">
                            <p class="bold">{{ comment.user }} says :</p>
                            {{ comment.comment }}
                        </div>
                    {% empty %}
                        <div class="mt-3 block-commentary">
                            <p>
                                No commentary yet
                            </p>
                        </div>
                    {% endfor %}
                </div>
                {% if article.status == 'publish' %}
                    {% if user.is_authenticated %}
                        <div class="mt-4">
                            <form action="" method="post">
                                {% csrf_token %}
                                    <div>
                                        Add commentary : <br>
                                        <textarea class="form-control" name="comment" id="id_comment"  ></textarea>
                                    </div>
                                <input type="submit" value="Submit" class="btn btn-primary mt-3" style="float:right;"/>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
                </div>
            </div>


{% endblock %}