{% extends 'base.html' %}

{% load blog_extras %}

{% block title %}
    Forget password
    {{ block.super }}
{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:100px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <h1 style="pb-4">Password forget</h1>
            <hr>

            <form action="" method="POST">
                {% csrf_token %}
                <p>
                    Username :<br>
                    <input type="text" name="username" class="form-control">
                </p>
                <input type="submit" value="Send" class="btn btn-primary">
            </form>
                <br>

                {% if back|length != 0 %}
                    <div class="alert alert-danger">
                        <strong>{{ back|escape }}</strong>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}