{% extends 'base.html' %}

{% load blog_extras %}

{% block title %}
    Secret Question
    {{ block.super }}
{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 100px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="pb-4">Password Question</h1>
                <hr>
                <p>
                    <b>Question : </b>{{ param.secretQuestion }}
                </p>
                <form action="" method="POST">
                    {% csrf_token %}
                    Response : <input type="password" class="form-control" name="response">
                    <input class="btn btn-primary mt-3" type="submit" value="Send">
                    <input type="hidden" name="secret" value="secret">
                </form>
                <br>
                {% if back|length != 0 %}
                    <div class="alert alert-danger">
                        <strong>{{ back|escape }}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}