{% extends 'base.html' %}

{% load blog_extras %}

{% block title %}
    Change password
    {{ block.super }}
{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="pb-4">Password Change</h1>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    Password : <input type="password" name="password" class="form-control"> <br>
                    Reset password : <input type="password" name="reset_password" class="form-control">
                    <input class="btn btn-primary mt-3" type="submit" value="Send">
                </form><br>
                {% if back|length != 0 %}
                    <div class="alert alert-danger">
                        <strong>{{ back|escape }}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}